/app/features/modules/test.py
/.idea/
/dist/
/app/features/modules/mask.png
/app/features/modules/result.jpg
/temp/
/fish/
/runtime/
/app/runtime/
/log/
/crash.log
/main.exe
/release/
/PerfectBuild/release/
/PerfectBuild/build/
/build/
__pycache__/
nuitka-crash-report.xml
.venv/
*.pyc
saa.cmd

# Local VS Code workspace settings
.vscode/
