#titleLabel {
    color: white;
    font: 11pt 'Segoe UI', 'Microsoft YaHei', 'PingFang SC';
    font-weight: bold;
}

#contentLabel {
    color: rgb(118, 118, 118);
    font: 9pt 'Segoe UI', 'Microsoft YaHei', 'PingFang SC';
}

#viewTitleLabel {
    color: white;
    font: 15pt "Segoe UI SemiBold", "Microsoft YaHei", 'PingFang SC';
}